@import "tailwindcss";

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));

  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
}

@layer base {
  /* Light Theme */
  :root {
    --background: 248,248,255; /* Ghost White */
    --foreground: 8,8,8; /* Vampire Black */

    --primary: 0,0,205; /* Medium Blue */
    --secondary: 186,85,211; /* Medium Orchid */
  }

  /* Dark Theme */
  .dark {
    --background: 8,8,8; /* Vampire Black */
    --foreground: 248,248,255; /* Ghost White */

    --primary: 0,128,0; /* Green */
    --secondary: 254,254,34; /* Laser Lemon */
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@utility after-gradient-border {
  @apply absolute h-full w-[103%] p-5.5 px-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full -z-10 bg-gradient-to-r from-primary to-secondary;
  content: '';
  /* animation: 3s spin linear infinite; */
}

@utility before-gradient-border {
  @apply after-gradient-border;
  filter: blur(1.5rem);
  opacity: 0.25;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@utility gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary;
}

@utility gradient-border {
  @apply after:after-gradient-border before:before-gradient-border
}