@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --animate-fade-in: fade-in 1s ease-in forwards;
}

@layer base {
  /* Light Theme */
  :root {
    --background: #f8f8ff; /* Ghost White */
    --foreground: #080808; /* Vampire Black */

    --primary: #0000cd; /* Medium Blue */
    --secondary: #ba55d3; /* Medium Orchid */
  }

  /* Dark Theme */
  .dark {
    --background: #080808; /* Vampire Black */
    --foreground: #f8f8ff; /* Ghost White */

    --primary: #ff0800; /* Candy Apple Red */
    --secondary: #fefc22; /* Laser Lemon */
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --gradient-angle: 0deg;
  }
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility after-gradient-border {
  @apply absolute h-[101%] w-[100.5%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md -z-10 bg-gradient-to-l from-primary to-secondary;
  content: '';
  /* animation: 3s spin linear infinite; */
}

@utility before-gradient-border {
  @apply after-gradient-border;
  filter: blur(1.5rem);
  opacity: 0.5;
}

@utility after-gradient-button {
  @apply absolute h-[100%] w-[100%] rounded-full bg-gradient-to-l from-primary to-secondary -z-1;
}

@utility gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary;
}

@utility gradient-button {
  @apply relative flex justify-center items-center py-[1em] px-[2em] bg-background/70 border-none gradient-text after:after-gradient-button hover:scale-[105%]
}

@utility gradient-border {
  @apply after:after-gradient-border before:before-gradient-border
}

@utility glassmorphism {
  @apply bg-background/30 backdrop-blur-lg
}